.confirmation-dialog {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.confirmation-dialog h1 {
    padding: 25px 0;
    font-weight: 500;
    font-size: 20px;
}