.dialog-wrapper {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
  padding: 0 5px;
}

.dialog-top {
  z-index: 10;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid var(--light-grey);
}

.dialog-heading-text {
  padding-left: 10px;
  align-items: center;
}