#sort-ul {
  overflow: auto;
  width: calc(100vw - 50px);
  max-width: 550px;
  min-width: calc(var(--min-width) - 50px);
  max-height: calc(var(--vh) - 100px);
}

.sort-component {
  padding: 10px 0;
  border-bottom: 1px solid var(--light-grey);
}


.sort-component,
#sort-ul button {
  width: 100%;
}

#sort-ul button:hover,
#sort-ul .sort-field-active {
  color: var(--main-blue);
}

.sort-field-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}