.category-actions-list {
  position: absolute;
  z-index: 200;
  right: 15px;
  bottom: -200%;
  padding: 10px 0;
  background-color: var(--light-grey);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

li:nth-last-child(1) .category-actions-list,
li:nth-last-child(2) .category-actions-list {
  bottom: 10px;
}

li:nth-child(2) .category-actions-list,
li:nth-child(3) .category-actions-list {
  bottom: -200%;
}

.category-actions-list li {
  width: 100%;
}

.category-actions-list button {
  width: 120px;
}

.category-actions-list li:hover {
  background-color: var(--hover-bg-color);
}
